.products {
  width: 100%;
  background: #f0ebe6;
  padding: 5rem 0;
}

.heading h2 {
  font-size: 32px;
  margin-bottom: 0;
}

.appbar {
  background: none !important;
  border: none !important;
  margin-left: -3rem;
}

.toolbar {
  justify-content: space-between;
  overflow-x: auto;
  margin-left: 1.3rem;
}

.toolbar > *:last-child {
  color: rgb(255, 144, 175);
  border-left: 1px solid #000;
  padding-left: 1rem;
}

.btn {
  text-transform: capitalize;
  background: none;
  border: none;
  outline: none;
  font-size: 20px;
  cursor: pointer;
}

@media (max-width: 625px) {
  .appbar {
    margin-top: 1rem;
  }
  .toolbar {
    width: 100%;
  }
  .btn {
    margin: 0 2rem;
    padding-right: 0 2rem;
    font-size: 14px;
  }
}
