.appbar {
  background: #fff !important;
  color: black !important;
}

.toolbar {
  display: flex;
  justify-content: space-between;
}

.navItems {
  display: flex;
  align-items: center;
  margin-left: 3rem;
}

.navItem {
  display: flex;
  align-items: center;
  margin: 0 1rem;
  font-weight: bold;
  cursor: pointer;
}

.register {
  display: flex;
  align-items: center;
}

.btn button {
  border: none;
  outline: none;
  background: rgb(0, 200, 5);
  color: #000;
  padding: 1rem;
  width: 8rem;
  border-radius: 25px;
  font-weight: bold;
  margin-left: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
