.supportBox * {
  margin: 0;
  padding: 0;
}
.supportBox {
  margin-top: 2rem !important;
}

.supportBox ul li {
  padding: 0.5rem 0;
}

.supportBox ul li:hover {
  text-decoration: underline;
}
.supportBox ul > *:nth-child(1):hover {
  text-decoration: none;
}

.view {
  display: flex;
  align-items: center;
}

.view a {
  color: green;
  cursor: pointer;
}

.view i {
  border-radius: 50%;
  background-color: green;
  padding: 4px;
  margin-left: 0.5rem;
  color: #fff;
}
