.shares {
  padding: 2rem 0;
  position: relative;
}

.shares p {
  font-size: 18px;
  color: var(--pri-txt-color);
}

.shares h2 {
  font-size: 30px;
}

.imgLarge {
  background: url("https://cdn.pixabay.com/photo/2016/12/02/13/36/balloon-1877824_1280.png");
  height: 100%;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  max-width: 457px;
}

.imgSmall {
  background: url("https://cdn.pixabay.com/photo/2016/12/02/13/36/balloon-1877824_1280.png");
  height: 85px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0px;
  display: none;
  background-attachment: fixed;
}

.btn {
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.btn * > :first-child {
  text-transform: capitalize;
}

.btn * > :first-child:hover {
  color: green;
}

@media (max-width: 960px) {
  .imgLarge {
    display: none;
  }
  .imgSmall {
    display: block;
  }
  .row1 {
    margin-top: 4rem;
  }
}
