.commission {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  width: 100%;
}

.warper {
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.heading {
  padding-top: 3rem;
  color: var(--pri-txt-color);
}


.para p {
  font-size: 20px;
  line-height: 1.6;
  color: var(--pri-txt-color);
}

.btn {
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.btn * > :first-child {
  text-transform: capitalize;
}

.btn * > :first-child:hover {
  color: green;
}
