.slide__img img{
    width: 250px;
    display: block;
    margin: 5rem auto;
}

.slide__title h1{
    font-size: 40px;
    max-width: 60%;
}

.slide__text p {
    max-width: 80%;
    font-size: 20px;
}