.magic-dots.slick-dots ul {
  padding: 0;
  display: flex;
  transition: all 0.2s;
  position: absolute;
  margin-top: -5rem;
  margin-bottom: 5rem;
}
.magic-dots.slick-dots li.slick-active button:before {
  color: #353537;
}
.magic-dots.slick-dots li button:before {
  transition: font-size 0.35s;
  font-size: 15px;
  content: "\2022";
}
.magic-dots.slick-dots li.small button:before {
  font-size: 8px;
  line-height: 20px;
}

.img img {
  width: 250px;
  margin: 5rem auto;
}

.textWarper {
  max-width: 90% !important;
  margin: auto !important;
}

.title h1 {
  font-size: 35px;
}

.para p {
  font-size: 20px;
}
